extends layout

block content
  .page-header
    h3 Office Map

    .office-container
      .row
        .col-md-12
          img(src='../img/sovrn-first-floor-1.png' class='mapper' usemap='#officemap')
          map(name='officemap')
            area(alt="81" class="seat" title="81" id="blue" rel="green,red" href="/person/81" shape="rect" coords="1192,186,1231,209" style=";" target="_self")
