extends layout

block content
  .page-header
    h3 Office Map
    a(target="_blank" href="https://docs.google.com/a/authcore.net/presentation/d/1Bq9RTbsBYS8YKOkQnEhTeKBmqTllWJuP9K9LQ4dgijk/edit?usp=sharing") Book of Faces Google Link

    .office-container
      .row
        .col-md-12
          input(class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text")
          .container
              br
              div(class='user-container') &nbsp
        .col-md-12
          img(src='../img/sovrn-floor-1.png' class='mapper' usemap='#officemap')
          map(name='officemap')
            area(alt="81" class="seat" title="81" id="81" rel="green,red" shape="rect" coords="1192,186,1231,209" style=";" target="_self")
            area(alt="82" class='seat' title="82" id="82" rel="green,red" shape="rect" coords="1158,187,1198,212" style=";" target="_self")
