extends layout

block content
  .page-header
    h3 Office Map

    .office-container
      .row
        .col-md-12
          img(src='../img/sovrn-first-floor.png' usemap='#officemap')
          map(name='officemap')
            area(shape="rect" coords="0,0,82,126" alt="Sun" href="sun.htm")
            area(id="123" alt="123" title="123" shape="rect" coords="1296,288,1332,316" style="outline:none;" href="/person/123" target="_self")
